<app-nav></app-nav>

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Nuestras recomendaciones</h1>
            <div class="text-justify text-white">
            <p class="lead fw-normal fs-4 text-white-50 mb-0">Puesto que no se trata de una familia de plantas o clasificación científica, hay muchas formas de
                agrupar las plantas ornamentales según las características en que nos fijemos. Nosotros hemos elaborado
                una clasificación sencilla en función de sus tipos más diferenciados. Encontramos, así, los siguientes
                grupos de plantas de ornato</p>
            </div>
        </div>
    </div>
</header>
<!-- Section-->
<section class="bg-bck py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/arbol.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Arboles y arbustos</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">Perforando regularmente el pie de arbusto</h3>
                            <ul class="fw-normal fs-6 text-start">
                                <li>Al romper la corteza superficial, hará que el suelo esté más suelto, lo que permitirá que el
                                    agua fluya hacia las raíces</li>
                                <br>
                                <li>Al mismo tiempo, eliminará las malezas que pueden bombear agua a expensas de las raíces del
                                    arbusto.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.jardiland.es/blog/consejos-ideas-trucos-de-jardineria/proteger-arboles-arbustos-calor/" target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/gerbera.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Cesped y tapizantes</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">Es una planta muy fácil de cultivar y no requiere cuidados especiales, más allá de los habituales.</h3>
                            <ul class="fw-normal fs-6 text-start">
                                    <li>Proporcionar protección contra los rayos del sol que calientan el suelo.</li>
                                    <br>
                                    <li>Limitar la evaporación del agua</li>
                                    <br>
                                    <li>Frenar el recrecimiento de las malas hierbas, evitando que compitan con las raíces</li>
                                </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://tiendahusqvarna.com/blog/plantas-tapizantes/" target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/florA.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Anuales</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">Las anuales no requieren de un cuidado especial pero he aqui algunos tips</h3>
                            <ul class="fw-normal fs-6 text-start">
                                <li>Algunas flores se caen por si solas y no necesitan ser arrancadas manualmente. Otras
                                    requieren que se les arranque las flores muertas antes que produzcan semilla.</li>
                                <br>
                                <li>Para controlar el crecimiento de algunas anuales, se sugiere pincharlas o sacar la punta de
                                    crecimiento. Esto promueve un crecimiento más compacto y una apariencia más nítida.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://web.extension.illinois.edu/annuals_sp/care.cfm" target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/tulipan.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Bulbosas</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">as plantas bulbosas son plantas herbáceas y perennes que presentan órganos subterráneos de reserva
                                de nutrientes, algunas recomendaciones a tener en cuenta son:</h3>
                            <ul class="fw-normal fs-6 text-start">
                                <li>Antes de sembrar, es indispensable realizar una preparación adecuada del suelo, ya que el drenaje del
                                    mismo es esencial en el cultivo de bulbos. Si el suelo es muy arcilloso se puede mejorar agregando
                                    compost, turba u otra fuente de material orgánico.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.consumer.es/bricolaje/cultivo-y-cuidados-de-los-bulbos.html#:~:text=Tras%20la%20siembra%20es%20necesario,que%20la%20planta%20se%20pudra." target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/palma.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Palmeras</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">Entre las plantas favoritas para interiores se encuentran las palmeras</h3>
                            <ul class="fw-normal fs-6 text-start">
                                <li>En interiores los riegos deben ser más esporádicos que en exteriores, ya que el sol no está
                                    para evaporar los excesos de agua en el terreno.</li>
                                <br>
                                <li>Como con todas las plantas de interiores, el factor más importante en cuanto
                                    cuidados eres tú. Recuerda que dentro de la casa ellas no reciben tanto sol, lluvia o humedad del
                                    medio ambiente.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://be.green/es/blog/como-cuidar-las-palmeras-de-interior#:~:text=Necesitan%20un%20ambiente%20húmedo%20y,que%20creen%20su%20propio%20microclima." target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/helecho.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Helechos</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">Los helechos son plantas fáciles de cuidar en interiores</h3>
                            <ul class="fw-normal fs-6 text-start">
                                <li>Los helechos requieren de fertilizante al menos una vez al mes, ya que, como todas las plantas,
                                    necesitan nutrientes y vitaminas para crecer.</li>
                                <br>
                                <li>El helecho es una planta que necesita de humedad, por lo que se recomienda regarlo cada dos días en
                                    época de calor.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.admagazine.com/estilo-de-vida/helechos-de-interior-tipos-y-cuidados-basicos-20210321-8283-articulos#:~:text=Los%20helechos%20son%20plantas%20que,bajas%20temperaturas%20afectan%20su%20sobrevivencia." target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/enrejado-trepador.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Trepadoras</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">Las plantas trepadoras son las que consiguen elevarse del suelo, apoyándose en otras plantas o de algún soporte</h3>
                            <ul class="fw-normal fs-6 text-start">
                                <li>La luz: Las enredaderas crecen bien en zonas sombrías, pero si eliges una variedad con flores es
                                    mejor ubicarlas en una zona soleada para que la floración sea abundante.</li>
                                <br>
                                <li>La temperatura: Hay que asegurarse de que la especie resiste sobre todo las bajas temperaturas,
                                    como la hiedra.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.handfie.com/plantas-enredaderas-tipos-cuidados-y-otros-consejos/027432/#:~:text=Aunque%20su%20cultivo%20es%20fácil,abonarla%20con%20harina%20de%20huesos." target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" src="./assets/lirio-de-agua.png" alt="ArbustosA" />

                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder fs-normal">Acuaticas</h5>
                            <br>
                            <br>
                            <h3 class="fw-bolder fs-6 text-center">Son las plantas que solemos ver a menudo en viveros y en hogares</h3>
                            <ul class="fw-normal fs-6 text-start">
                                <li>Para evitar que se pudran, y que en consecuencia deterioren la calidad del agua del estanque, el
                                    tonel o la charca, se deben podar las hojas, las ramas y las flores.</li>
                                <br>
                                <li>Al También es recomendable extender una tela metálica sobre el estanque si las plantas acuáticas están
                                    cerca de árboles de hoja caduca.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://www.sembrar100.com/plantas/acuaticas/#:~:text=Para%20evitar%20que%20se%20pudran,de%20árboles%20de%20hoja%20caduca." target="_blank">Más información</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>