<app-nav></app-nav>
<section id="nuestros-programas">
    <div class="container">
        <h2 class="plantas">Cuidado de tus plantas</h2>
        <p>(Aquí encontrarás información acerca del estado de tus plantas)</p>
        <div class="programas">
            <div class="carta">
                <h3>Rosa</h3>
                <img src="./assets/Rosa.png">
                <div class="progress">
                    <div class="progress-bar1" style="width:67%;">
                        <span class="progress-bar-text">67%</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar2" style="width:30%;">
                        <span class="progress-bar-text">30%</span>
                    </div>
                </div>
                <button id="B1">Regar</button>
                <button id="B2">Abonar</button>
            </div>
    <div class="carta">
        <h3>Margarita</h3>
        <img src="./assets/flor.png">
        <div class="progress">
            <div class="progress-bar3" style="width:75%;">
                <span class="progress-bar-text">75%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar4" style="width:50%;">
                <span class="progress-bar-text">50%</span>
            </div>
        </div>
        <button id="B1">Regar</button>
        <button id="B2">Abonar</button>
    </div>
    <div class="carta">
        <h3>Azucena</h3>
        <img src="./assets/azucena.png">
        <div class="progress">
            <div class="progress-bar5" style="width:20%;">
                <span class="progress-bar-text">20%</span>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar6" style="width:90%;">
                <span class="progress-bar-text">90%</span>
            </div>
        </div>
        <button id="B1">Regar</button>
        <button id="B2">Abonar</button>
    </div>
    </div>
    </div>
</section>
<app-footer></app-footer>
